@import "tailwindcss";

body{
  overflow: hidden;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid #243837;
  font-weight: 400;
  font-size: clamp(14.7px, 2vw, 16px);
  line-height: clamp(21.3px, 3vw, 27px);
  letter-spacing: clamp(0.6%, 0.3vw, 0.7%);
  outline: none;

}

form{
  display: flex;
  flex-direction: column;
}

.pri-btn {
  @apply px-5 pr-4 py-3 rounded-lg flex items-center justify-center text-base tracking-wide gap-2 font-semibold bg-[#243837] text-white cursor-pointer box-border;
}

.body-cont{
  @apply overflow-scroll h-[calc(100vh-2.5rem)] m-5 border border-gray-300 rounded-2xl
}

.pri-btn:hover{
  filter: brightness(0.9);
}

.pri-btn:active{
  transform: translateY(2px);
}

a{
  color: #243837;
}

